.start {
  margin-bottom: 10px;
}
.btn-container {
  z-index: 99;
}
.addCard,
.login,
.start,
.register,
.logout {
  color: aliceblue;
  text-align: right;
  cursor: pointer;
  margin-right: 10px;
}

.addCard:hover,
.login:hover,
.start:hover,
.logout:hover,
.register:hover {
  transform: scale(1.2, 1.2);
  color: rgb(0, 172, 252);
}
