.bottomRow {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  margin-bottom: 10px;
}

.btn-prev,
.btn-next,
.btn-flip {
  margin: 0px 20px;
  font-size: 35px;
  cursor: pointer;
}

.btn-prev:hover {
  transform: scale(1.2, 1.2);
  color: rgb(0, 172, 252);
}
.btn-next:hover {
  transform: scale(1.2, 1.2);
  color: rgb(0, 172, 252);
}
.btn-flip:hover {
  transform: scale(1.2, 1.2);
  color: rgb(0, 172, 252);
}

#btn-addCard {
  height: 38px;
  width: 100px;
}
